
/examples
/saves
/src
/tests
/scripts
/llama3.2_3b_lora_merge
/data
/evaluation
/google
/meta-llama
/docker
/config
/cache
/assets
README.md
README_zh.md
requirements.txt
setup.py
pyproject.toml
MANIFEST.in
Makefile
llama3.2_3b_lora_merge.zip
LICENSE
CITATION.cff
/Qwen
xueli_data/.DS_Store
xueli_data/ORKG RDF dump 14.02.2023.nt
xueli_data/SciQA-dataset/.DS_Store
/xueli_data/SciQA-dataset
.env
.zshrc
.DS_Store
