
/examples
/saves
/src
/tests
/scripts
/llama3.2_3b_lora_merge
/data
/evaluation
/google
/meta-llama
/docker
/config
/cache
/assets
README.md
README_zh.md
requirements.txt
setup.py
pyproject.toml
MANIFEST.in
Makefile
llama3.2_3b_lora_merge.zip
LICENSE
CITATION.cff
/Qwen
xueli_data/.DS_Store
xueli_data/ORKG RDF dump 14.02.2023.nt
xueli_data/SciQA-dataset/.DS_Store
/xueli_data/SciQA-dataset
.env
.zshrc
.DS_Store
phi-4/
results/.DS_Store
.DS_Store
/olympics
/orkg-dump
xueli_data/rdf-dump/orkg-dump-14-02-2023.nt
results/.DS_Store
.DS_Store
results/.DS_Store
results/.DS_Store
/models
/hpc_codes
xueli_data/dblp/dblp-2022-03-01.nt.gz
xueli_data/SciQA/project_data/orkg-dump-14-02-2023.nt
results/.DS_Store
.DS_Store
/deepseek-r1-distill-8b
results/.DS_Store
/merge_models
results/.DS_Store
results/step3_sparql_running_against_orkg/vanilla/llama-3-8b-Instruct_round1/sparql_results.csv
results/step3_sparql_running_against_orkg/vanilla/llama-3-8b-Instruct_round2/sparql_results.csv
results/step3_sparql_running_against_orkg/vanilla/llama-3-8b-Instruct_round3/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3_8b_lora_sft_3epochs_round1/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3_8b_lora_sft_3epochs_round2/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3_8b_lora_sft_3epochs_round3/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3_8b_lora_sft_5epochs_round1/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3_8b_lora_sft_5epochs_round2/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3_8b_lora_sft_5epochs_round3/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3_8b_lora_sft_7epochs_round1/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3_8b_lora_sft_7epochs_round2/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3_8b_lora_sft_7epochs_round3/sparql_results.csv
results/step3_sparql_running_against_orkg/vanilla/llama-3.2-3b-Instruct_round1/sparql_results.csv
results/step3_sparql_running_against_orkg/vanilla/llama-3.2-3b-Instruct_round2/sparql_results.csv
results/step3_sparql_running_against_orkg/vanilla/llama-3.2-3b-Instruct_round3/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3_8b_lora_sft_10epochs_round1/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3_8b_lora_sft_10epochs_round2/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3_8b_lora_sft_10epochs_round3/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3_8b_lora_sft_15epochs_round1/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3_8b_lora_sft_15epochs_round2/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3_8b_lora_sft_15epochs_round3/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3_8b_lora_sft_20epochs_round1/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3_8b_lora_sft_20epochs_round2/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3_8b_lora_sft_20epochs_round3/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3.2_3b_lora_sft_3epochs_round1/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3.2_3b_lora_sft_3epochs_round2/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3.2_3b_lora_sft_3epochs_round3/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3.2_3b_lora_sft_5epochs_round1/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3.2_3b_lora_sft_5epochs_round2/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3.2_3b_lora_sft_5epochs_round3/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3.2_3b_lora_sft_7epochs_round1/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3.2_3b_lora_sft_7epochs_round2/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3.2_3b_lora_sft_7epochs_round3/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3.2_3b_lora_sft_10epochs_round1/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3.2_3b_lora_sft_10epochs_round2/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3.2_3b_lora_sft_10epochs_round3/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3.2_3b_lora_sft_15epochs_round1/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3.2_3b_lora_sft_15epochs_round2/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3.2_3b_lora_sft_15epochs_round3/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3.2_3b_lora_sft_20epochs_round1/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3.2_3b_lora_sft_20epochs_round2/sparql_results.csv
results/step3_sparql_running_against_orkg/ft/llama3.2_3b_lora_sft_20epochs_round3/sparql_results.csv
results/.DS_Store
